body{
    margin: 5%;
    margin-top: 20px;
}
h1{
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #333;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Agrega una transición suave */
  }
  
  a:hover {
    background-color: #e0e0e0; /* Cambia el color de fondo al pasar el mouse */
  }

.container {
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }

.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.actividad {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    width: 500px; /* Ajusta el ancho según sea necesario */
    border-radius: 10px;
    
}
.cont{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    line-height: 2px;
    padding-top: 10px;
}

.boton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    
}
.texto{
    line-height: 1px;
}